.animation {
    animation: Waves 10s infinite;
    z-index: -1;
    position: absolute;
    right: 0;
    width: 500px;
    height: 100%;
    
    .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #778da9;
    }
      p {
      margin: 1px;
    }
      h1 {
      margin: 0;
    }
      div {
      right: 20px;
    }
    @media screen and (max-width: 992px) {    
      display: none;
    }
  }

  
.animationL {
    animation: Waves 10s infinite;
    z-index: -2;
    position: absolute;
    left: 0;
    width: 500px;
    height: 100%;
    transform: scale(-1, 1);

    .containerL {
//    @extend .container;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #778da9;
  }
     p {
    margin: 1px;
  }
     h1 {
    margin: 0;
  }
     div {
    right: 20px;
  }
  @media screen and (max-width: 992px) {
      top: -100px;
      width: 170px;
      animation: none;
      max-height: 100px;
  }
}
  
@keyframes Waves {
  0%, 100% {
    top: -100px;
  }
  50% {
    top: -50px;
  }
}

.container::after {
    content: "";
    position: absolute;
    left: -40px;
    width: 100%;
    height: 110%;
    background: linear-gradient(270deg, rgba(108, 107, 107, 0) 0%, rgba(6, 18, 44, 0.6475183824) 32%, rgba(6, 18, 44, 0.7343531162) 53%, rgb(6, 18, 44) 78%);
      @media screen and (max-width: 992px) {
            .container::after {
            display: none;
    }
  }
}


.containerL::after {
  @extend .container, ::after;
}

 
//  .containerL::after {
//         content: "";
//         position: absolute;
//         left: -40px;
//         width: 100%;
//         height: 110%;
//         background: linear-gradient(270deg, rgba(108, 107, 107, 0) 0%, rgba(6, 18, 44, 0.6475183824) 32%, rgba(6, 18, 44, 0.7343531162) 53%, rgb(6, 18, 44) 78%);
//           @media screen and (max-width: 992px) {
//             .containerL::after {
//             display: none;
//         }
//       }
//   }
  