@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

$backgroundColor: #06122c;
$semitrasnparentColor: #06122cbe;
$text1Color: #0dc5c1;
$secondBackground: rgb(13, 27, 42);
$thirdBackground: #415a77ca;
$moonColor: #eae2b7;
$secondFont: Righteous;